In [1]:
import pandas as pd
import numpy as np

In [2]:
dfMale = pd.read_csv("./Datasets/Indian-Male-Names.csv")
dfFemale = pd.read_csv("./Datasets/Indian-Female-Names.csv")

In [48]:
duplicates = []
for i, val in enumerate(dfMale['name']):
    if(str(val) in str(dfFemale['name'][i])  or str(dfFemale['name'][i]) in str(val)):
        duplicates.append([val, dfFemale['name'][i]])

In [49]:
duplicates

[['gulshan', 'gulshan'],
 ['vishal @ deepak', 'deepa'],
 ['aman', 'tamanna'],
 ['deepak', 'deepa'],
 ['na', 'poonam'],
 ['uma shankar soni', 'soni'],
 ['praveen bharti', 'arti'],
 ['neeraj yadav', 'neeraj'],
 ['suman lal', 'suman'],
 ['devender kumar @ ashu', 'ashu'],
 ['shiva', 'shivani']]

In [4]:
dfMale.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [5]:
dfFemale.head()

              name gender    race
0          shivani      f  indian
1             isha      f  indian
2  smt shyani devi      f  indian
3            divya      f  indian
4            mansi      f  indian

In [6]:
dfFinal = pd.DataFrame({"name":dfMale["name"].append(dfFemale["name"], ignore_index= True), "gender":dfMale["gender"].append(dfFemale["gender"], ignore_index= True)})

In [64]:
duplicates = dfFinal[dfFinal.duplicated()]

In [65]:
duplicates

               name gender
24            rohit      m
27          santosh      m
33     gurmit singh      m
38            rohit      m
39            rohit      m
...             ...    ...
30219         pooja      f
30220         rakhi      f
30221      musarrat      f
30222    saroj devi      f
30225       shivani      f

[14933 rows x 2 columns]

In [14]:
for val, i in enumerate(dfFinal['name']):
    if((val[i] == val[i+1]) and (dfFinal['gender'][i] != dfFinal['gender'][i+1])):
        print(val[i], dfFinal['gender'][i])

TypeError: 'int' object is not subscriptable