In [55]:
import numpy as np
import pandas as pd

In [56]:
data = pd.read_csv('./data/Merged-Formatted-Indian-Names.csv')

In [57]:
data.head()

              name gender
0          barjraj      m
1     ramdin verma      m
2  sharat chandran      m
3  birender mandal      m
4             amit      m

In [58]:
training_data = data.iloc[:, :-1]
training_labels = data['gender']

In [59]:
training_data.head()

              name
0          barjraj
1     ramdin verma
2  sharat chandran
3  birender mandal
4             amit

In [60]:
training_labels.head()

0    m
1    m
2    m
3    m
4    m
Name: gender, dtype: object

In [61]:
names_ascii = []
for n in training_data['name']:
    names_ascii.append(''.join([str(ord(c)) for c in str(n)]))

In [62]:
training_data = pd.DataFrame({'name': names_ascii})
training_data.head()

                                        name
0                         989711410611497106
1          114971091001051103211810111410997
2    115104971149711632991049711010011497110
3  98105114101110100101114321099711010097108
4                                97109105116

In [67]:
from sklearn.model_selection import train_test_split
train_set, test_set, train_labels, test_labels = train_test_split(training_data, training_labels, random_state =0, test_size= 0.40)

In [68]:
print('Training Set: ', len(train_set))
print('Test Set: ', len(test_set))
print('Training Labels: ', len(train_labels))
print('Test Labels: ', len(test_labels))

Training Set:  18291
Test Set:  12194
Training Labels:  18291
Test Labels:  12194

In [20]:
train_dist = train_labels.value_counts()
test_dist = test_labels.value_counts()
all_disease = training_labels.unique()

In [21]:
gender_dict = {"Gender": [], "Training": [], "Testing": []}
for d in all_disease:
    gender_dict['Gender'].append(d)
    gender_dict['Training'].append(train_dist[d])
    gender_dict['Testing'].append(test_dist[d])

In [22]:
gender_dict_df = pd.DataFrame(gender_dict)
gender_dict_df
gender_dict_df.to_csv('./data/gender_distribution.csv', index=False)

In [65]:
from sklearn.neural_network import MLPClassifier

In [69]:
mlp = MLPClassifier()
mlp.fit(train_set, train_labels)

C:\Users\Soumya\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:568: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)