In [20]:
import pandas as pd
import numpy as np

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [22]:
df = pd.read_csv('data\Merged-Formatted-Indian-Names.csv')
df

                  name gender
0              barjraj      m
1         ramdin verma      m
2      sharat chandran      m
3      birender mandal      m
4                 amit      m
...                ...    ...
30480          tasleem      u
30481           lovely      u
30482           kalpna      u
30483           ruksar      u
30484            pinki      u

[30485 rows x 2 columns]

In [23]:
df.dtypes

name      object
gender    object
dtype: object

In [24]:
df.isnull().isnull().sum()

name      0
gender    0
dtype: int64

In [25]:
df[df.gender == 'f'].size

30764

In [26]:
df[df.gender == 'm'].size

29690

In [27]:
df[df.gender == 'u'].size

516